@import 'src/styles';

h1{
    font-family: 'Roboto', sans-serif;
    @include customize(theme){

        color: getValue(backgroundLight);
    }
    font-size: 400px;
}

.content-list{

    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    margin: 2rem;
}

.content-container{

    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 14rem;

    padding: 0.5rem;
    
    align-items: center;
    @include customize(theme){
        background-color: getValue(bgFont);
        box-shadow: 0px 2px 4px 0px getValue(containerLight);
    }
    

    img{
        height: 20rem;
        width: 14rem;

        background-image: url("https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg");
    }

    a, a:link, a:visited{

        text-decoration: none;
    }

    

    h3, h2, h4{
        
        
        font-family: 'Roboto', sans-serif;
    }

    .text{
        font-family: 'Roboto', sans-serif;
        
        align-items: left;
        margin: 0;
        
        width: 100%;

        
        #title{

            font-size: min(1em, 28vw);
            
            
        }
        .typeyear{

            display: flex;
            flex-direction: row;
            text-align: left;
            @include customize(theme){
                color: getValue(containerLight)
            }

            #type{

                margin-right: 10px;
                font-weight: 1000;
            }

            #year{

                margin-right: 10px;
                font-weight: 1000;
                

            }
        }
    }
}

.content-container:hover{

    cursor: pointer;
    transform: scale(.98);
    transition:   all 0.1s  ease-in-out;


    
}

