<div  class="theme-wrapper theme-light">
 <div class="content-list">
         
        <a class="content-container" *ngFor="let result of results" (click)="movieDetails(result.id, result.type, result.name)">
            <img  srcset="{{result.image_url}}" alt="">
            <div class="text">
                <h1 id="title">{{result.name}}</h1>
                <div class="typeyear">
                    <div id="year">{{result.year}}</div>
                </div>
            </div>
        </a> 
</div>
</div>