<div class="theme-wrapper theme-light">
    <div class="source-wrapper">
        <div class="info-panel">
            <h1>{{title}}</h1>
            <h2>{{year}}</h2>
            
            <img src="{{img}}">

        </div>
        <div class="source-list">
            <a *ngFor="let source of sources" class="source" href="{{source.web_url}}">
                <div class="image-container">
                    <img src={{getSourceImages(source.name)}}>
                </div>
                <div class="source-info">
                    <h3>{{source.name}}</h3>
                </div>
            </a>
        </div>
    </div>
</div>