@import 'src/styles';

h1{
    font-family: 'Roboto', sans-serif;
    @include customize(theme){

        color: getValue(contFont);
    }
    font-size: 400px;
}

.content-list{

    display: block;
    margin: 2rem;
}

.content-container{

    display: flex;
    flex-direction: row;

    height: 20rem;
    width: 80vw;
    @include customize(theme){
        background-color: getValue(containerLight);
    }
    margin: 1rem;

    img{
        height: 20rem;
        width: 14rem;

        text-align: center;
        background-image: url("https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg");
    }

    a, a:link, a:visited{

        text-decoration: none;
    }

    

    h3, h4{
        text-align: center;
        margin: 10px auto;
        font-family: 'Roboto', sans-serif;
    }

    .text{

        text-align: center;
        margin: 0 auto;

        #title{

            font-size: 8rem;
            
            margin: 0px;
        }


    }
}

.content-container:hover{

    cursor: pointer;

    
}